[2015-04-14 08:57] MattiSG opened #1 "Mettre à jour les plafonds"
Les plafonds et montants de l'ASS ont été revalorisés en [décembre 2014](http://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000030005607&categorieLien=id). Les montants ont été corrigés par @jdesboeufs (nouveau montant : 16,25€), mais apparemment pas les plafonds.

Ces nouveaux plafonds sont documentés [sur le wiki](https://wiki.openfisca.fr/index.php/ASS#Montant).

Les tests correspond

[2015-04-20 09:32] MattiSG opened #3 "Gérer les DOM/TOM"
En tant que bénéficiaire potentiel résidant dans un DOM/TOM hors Mayotte,
Je peux bénéficier des règles spécifiques à ma situation,
Pour déterminer mon éligibilité et le montant aux prestations CF et AF

[2015-04-21 12:34] MattiSG commented on #1
Sorry for having reopened, Waffle seemingly made a mistake.

[2015-04-21 13:25] MattiSG commented on #1
`>.<`

[2015-04-21 16:37] jdesboeufs commented on #3
Fixed in openfisca/openfisca-france#224 and openfisca/openfisca-france#219

[2015-04-22 10:10] MattiSG commented on #3
(sorry for reopening, sorting out how Waffle works)

[2015-04-22 10:24] MattiSG commented on #1
Ok, I've got this. Discussing with @waffleio on how to get multiple columns with closed state. For the time being, we'll keep issues open until all is done, not only development (i.e. deployment and communication). This will be annoying, but I hope we can sort this out quickly.

[2015-04-22 16:27] fpagnoux opened #4 "Mise à jour des taux de cotisation sociale auto entrepreneurs"
Les taux dans le fichier de paramètres sont eux de 2014, et ils ont été ré-évalués en 2015

[2015-04-22 16:42] fpagnoux commented on #4
Les taux dans le fichier de paramètres sont eux de 2014, et ils ont été ré-évalués en 2015

[2015-04-23 16:28] MattiSG commented on #4
openfisca/openfisca-france#226 has been merged.

@fpagnoux This is still marked as waiting for external action. Is it really the case?

[2015-04-24 08:24] fpagnoux commented on #4
Nope, moved to Deploiement ;)

[2015-04-24 08:49] MattiSG commented on #4
:shipit:

[2015-04-24 17:00] #1 closed, assigned to fpagnoux

[2015-04-27 10:19] MattiSG opened #5 "Calculer le revenu imposable"
En tant que bénéficiaire potentiel de l'ASS,
Je peux estimer mes droits sur la base de mon revenu imposable,
Pour déterminer le montant de la prestation de manière plus précise

Origine : DGEFP

---

@eraviart : y a-t-il eu une amélioration de performances du calcul d'inversion de net vers imposable ?
@benjello : à défaut, quelle approximation peut-on faire de manière raisonnable ?

[2015-04-27 13:28] eraviart commented on #5
Pas d'amélioration des performances, mais ce n'est pas le principal problème : l'inversion numérique ne converge pas toujours.

[2015-04-28 13:13] #4 closed, assigned to fpagnoux

[2015-05-06 09:29] MattiSG opened #6 "Intégrer correctement les ressources du conjoint dans la base ressource pour l'ASS"
La base ressource pour déterminer l'éligibilité à l'ASS contient les revenus de substitution (ARE, ASS, IJSS, retraite)  du conjoint. Les revenus d'activité du conjoint sont abattus de 30% s'ils ont été interrompus.

[2015-05-18 14:29] #3 closed, assigned to jdesboeufs

[2015-05-18 14:29] MattiSG commented on #3
https://twitter.com/mesaides/status/600307086434664449

[2015-05-18 14:44] MattiSG opened #7 "Éligibilité ASPA vs. RSA"
Un retraité se voit proposer le RSA plutôt que l'ASPA, alors que ce devrait être l'inverse.

@Anne-LaureM : vérifier les règles de subsidiarité ou cumul (a priori en cas d'ASPA < RSA).

Source : tests usager 13/05.
Tests : [Ludwig](https://mes-aides.gouv.fr/tests/55532045a048a15d31f46e55/show).
### Communication
- [x] wiki

[2015-05-18 14:45] MattiSG commented on #7
Pourrait être tout bêtement la case "retraité" non prise en compte.

[2015-05-18 14:52] MattiSG opened #8 "Éligibilité des propriétaires aux Aides au logement"
Vérifier qu'un propriétaire non primo-accédant est réellement potentiellement éligible aux AL.

S'il ne l'est pas, mettre à jour la non-calculabilité et afficher une inéligibilité.
### Communication
- [x] wiki
- [ ] tweet

[2015-05-20 15:07] Anne-LaureM commented on #7
Non cumul des 2 allocations : Le droit à la part de RSA socle (RSA socle seul ou RSA socle + activité) est subordonné à la condition que le bénéficiaire et les personnes composant le foyer fassent valoir leurs droits à l'ASPA

[2015-05-20 15:37] Anne-LaureM commented on #7
Si la personne se déclare "retraité" il faut donc afficher automatiquement de l'ASPA et non pas du RSA

[2015-05-20 15:48] Anne-LaureM commented on #7
En faisant quelques simu, je remarque que c'est uniquement lorsque l'usager déclare percevoir une pension de retraite que l'ASPA s'affiche.  Si il déclare 0 ressource ou des ressources d'une autre nature (salaire, pension alimentaire...) c'est le RSA qui s'affiche.

[2015-05-21 08:50] #5 closed, assigned to fpagnoux

[2015-05-21 09:03] MattiSG commented on #6
| éligibilité demandeur | éligibilité conjoint | conjoint touche déjà | calcul |
| --- | --- | --- | --- |
| - | - | - | - |
| + | - | - | + |
| + | + | - | calcul d’abord pour demandeur, puis intégration de l’ASS demandeur dans base ressource conjoint |
| + | + | + | intégration de l’ASS conjoint dans la base ressource demandeur |
| - | + | + | - |
| - | + | - | les résultats pour le conjoint n’é

[2015-05-21 09:03] MattiSG commented on #6
Solution alternative : remonter un cas de non-calculabilité si les deux sont éligibles.

[2015-05-21 10:35] MattiSG commented on #6
Redéfinition de cette story en plusieurs. Je mettrai des liens vers les nouvelles.

[2015-05-21 10:42] MattiSG opened #9 "Gérer la double éligibilité à l'ASS"
En cas d’éligibilité du demandeur et de son conjoint, mais pas sans ASS touchée par le conjoint (sgmap/mes-aides-ui#83), faire l’hypothèse que c’est d’abord le demandeur qui demandera l’ASS pour déterminer l’ASS du conjoint en intégrant l’ASS du demandeur dans sa base ressource.

Cf. tableau dans sgmap/openfisca-france#6.

[2015-05-21 10:59] MattiSG commented on #6
@fpagnoux Où en est-on avec cette redéfinition ?  :)

[2015-05-21 11:02] fpagnoux commented on #6
Implémentée, je rajoute quelques tests yaml et j'envoie la PR

[2015-05-21 11:03] MattiSG commented on #6
:muscle:

[2015-05-26 14:13] fpagnoux commented on #7
Je confirme que dans le code, l'éligibilité à l'ASPA est conditionnée au versement d'une pension de retraite ou d'invalidité.
Je vais changer le comportement pour que si la case retraitée a été cochée, on ignore cette condition.

[2015-05-26 16:11] fpagnoux opened #10 "Gérer les TNS dans le calcul de l'ASS"
En tant que demandeur de l'ASS, je peux inclure les revenus non salariés de mon conjoint dans la base de ressources pour avoir une estimation plus juste de mon droit à l'ASS.

[2015-05-26 16:16] fpagnoux commented on #10
Revenus pris en compte :
- Pour les exploitants agricoles, prise en compte de leur dernier bénéfice agricole
- Pour les auto-entrepreneurs / micro-entreprise,  revenu fiscal net après abattement.
- Pour les professions libérales / entrepreneurs, prise en compte des revenus sur le dernier exercice clos

[2015-05-26 16:16] fpagnoux commented on #10
Communication :
À définir

[2015-05-27 15:10] HelaG commented on #8
Un [propriétaire](http://vosdroits.service-public.fr/particuliers/F32384.xhtml), non primo-accédant, n'est pas éligible aux AL.

Une personne qui jouit de l'usufruit sur le logement ou qui détient des parts dans une SCI propriétaire du logement n'est pas éligible aux AL. [cf alinéa VIII art. L 542-2 CSS](http://www.legifrance.gouv.fr/affichCodeArticle.do?cidTexte=LEGITEXT000006073189&idArticle=LEG

[2015-05-27 15:22] HelaG commented on #8
Aujourd'hui quand l'utilisateur déclare être propriétaire / en location accession, on lui demande s'il est primo-accédant, s'il répond "Non", il poursuit sa simulation et des AL apparaîssent en résultat (en non calculable car propriétaire).

Pour être exact, il faudrait que les AL n'apparaissent pas en résultat.

Pour être entièrement exaustif, et traiter le cas dérogatoire, on pourrait préciser l

[2015-05-27 15:27] fpagnoux opened #11 "Réforme mes aides pour projection des aides calculées sur une période > 1 mois"
Cette issue fait suite à la discussion initiée par @benjello  sur https://github.com/openfisca/openfisca-france/pull/244

Dans `cmu.py` on a :

[code]

Ceci permet, dans le contexte de mes-aides, d'obtenir une estimation de la somme annuelle de prestations qui sont calculées uniquement pour le mois en cours, et qui ne sont pas capturées pour les mois précédents.
C'est une idiosyncrasie de mes-aide

[2015-05-27 15:35] benjello commented on #11
@fpagnoux @eraviart @jdesboeufs je passe quand vous voulez. Je pense que la solution est de mettre dans openfisca ce qui se rapproche plus de la loi et de me mettre dans un objet Reform les idiosyncrasie de mes-aides.

[2015-05-28 08:18] fpagnoux commented on #11
Oui c'est une solution.

Est-ce que vous êtes disponibles demain matin ou après-midi ?
@eraviart @benjello @jdesboeufs

[2015-05-28 10:17] benjello commented on #11
Plutôt le matin pour moi

[2015-05-28 11:17] fpagnoux commented on #11
Ok pour moi, @eraviart ça te va ?

[2015-05-28 11:18] eraviart commented on #11
oui

[2015-05-28 17:33] fpagnoux opened #12 "Gérer les TNS dans le calcul de la CMUC / ACS"
En tant que demandeur de la CMU ou de l'ACS,  je peux inclure mes revenus non salariés ( et ceux de mon conjoint) dans la base de ressources pour avoir une estimation plus juste de mon droit.

[2015-05-29 12:05] fpagnoux commented on #7
Autre question liée :
Si le demandeur a plus que l'âge légal pour bénéficier de l'ASPA, mais ne touche pas de pension, et ne se déclare pas comme retraité dans le premier écran, on ne lui propose pas d'ASPA mais du RSA.  Vu son âge, il devrait pourtant avoir droit à l'ASPA.

Est-ce que c'est une situation qui vous paraît réaliste  ? Je peux imaginer que quelqu'un qui ne touche pas de pension de re

[2015-05-29 13:04] fpagnoux commented on #7
Vu avec Héla et Anne-Laure :
Une personne de plus de 65 ans doit toujours se faire proposer de l'ASPA plutôt que du RSA. Un disclaimer à la fin de la simulation rappellera  au demandeur qu'une condition préalable est d'avoir liquidé ses droits à la retraite.
On ne prendra donc plus en compte la condition "être retraité".

[2015-05-29 13:53] fpagnoux commented on #7
Done, reste la phrase à ajouter pour indiquer au demandeur qu'il doit avoir liquidé ses droits à la retraite.

[2015-05-29 15:15] Anne-LaureM commented on #7
En fin de simu, ajouter la phrase:
"Pour prétendre à l'ASPA, vous devez, ainsi que votre conjoint, avoir demandé l'attribution de toutes vos retraites personnelles et de réversion à tous les régimes"

[2015-05-29 15:31] Anne-LaureM commented on #7
Vérifier la règle suivante:
Age minimal pour bénéficier de l'ASPA est abaissé à 62 ans pour les personnes inaptes au travail et pour les personnes dont le taux de handicap est égal ou supérieur à 50%

[2015-06-01 11:03] fpagnoux commented on #7
Je sors les deux précédents points dans des issues séparées, sinon on commence à digresser un peu trop ;)

[2015-06-01 11:06] fpagnoux opened #13 "Condition invalidité 50% ASPA"
En tant que demandeur handicapé, je ne me vois proposer l'ASPA  à partir de 62 ans que si mon taux de  handicap est égal ou supérieur à 50%.

[2015-06-01 16:12] HelaG commented on #8
Pas de tweet sur une non-éligibilité -> DONE

[2015-06-01 16:12] #8 closed, assigned to fpagnoux

[2015-06-01 16:27] fpagnoux opened #14 "Mettre à jour PAJE"
En tant que demandeur de la PAJE ayant un enfant né après le 1er janvier 2014, je peux calculer mon droit à la paje en tenant compte des nouveaux plafonds et des nouvelles dispositions
## Communication
- [ ] CNAF pour recettage
- [ ] DSS pour recettage

[2015-06-01 16:32] fpagnoux commented on #14
Voir https://wiki.openfisca.fr/index.php/PAJE_-_Allocation_de_base Arrivée d'enfants à partir du 1er avril 2014

[2015-06-01 16:33] fpagnoux opened #15 "Enfants adoptés"
En tant que parent d'enfant adopté,
Je peux déclarer que mon enfant est adopté,
Pour calculer mon droit à la PAJE, l'ASF, etc.

[2015-06-01 16:34] fpagnoux commented on #15
@HelaG @Anne-LaureM

[2015-06-01 16:39] fpagnoux opened #16 "Évaluation forfaitaire pour les travailleurs non salariés"
En tant que travailleur non salarié ayant subi un changement de situation depuis n-2,
Je peux bénéficier d'une évaluation forfaitaire de mes ressources,
Pour le calcul de mon AL

[2015-06-01 16:42] fpagnoux opened #17 "Patrimoine ASPA"
En tant que demandeur de l'ASPA, je peux déclarer mon patrimoine pour obtenir une  estimation plus juste de mon droit

[2015-06-01 17:32] Anne-LaureM commented on #10
Communication faite à Pôle emploi/DGEFP

[2015-06-01 17:33] Anne-LaureM commented on #6
Communication faite à Pôle emploi/DGEFP

[2015-06-04 10:22] HelaG commented on #7
J'ai supprimé le test usager sur ce bug (il était rouge parce que le montant d'ASPA que m'avait communiqué l'usager était approximatif).

Mais on a une super histoire à raconter sur cette implem!

[2015-06-04 10:22] #7 closed, assigned to Anne-LaureM

[2015-06-05 15:49] fpagnoux opened #18 "Neutralisation ressources RSA"
Beaucoup de ressources dans la BR RSA d'Openfisca ne sont pas neutralisables.
Cela ne semble pas correspondre à la loi, où toutes les ressources semblent  être neutralisables, avec une différence de traitement entre revenus pro et non pros.
Par ailleurs, il n'est pas clair si certaines ressources sont professionnelles ou non.
Il semble nécessaire de faire un point  sur la neutralisabilité des ress

[2015-06-05 16:14] #13 closed, assigned to nobody

[2015-06-05 16:34] fpagnoux opened #19 "Neutraliser le salaire d'activitié partielle interrompue dans la BR de l'ASS"
Si un demandeur de l'ASS a  eu une activité partielle lors de sa période de chômage, et que cette activité est définitivement interrompue,  on ne doit pas prendre en compte les revenus issus de cette activité pour l'ASS.

[Test](https://mes-aides.gouv.fr/tests/556ece2d1619d23d68b91e46/show?keyword=recette)

[2015-06-07 16:39] MattiSG commented on #7
:+1:

[2015-06-08 08:54] #10 closed, assigned to fpagnoux

[2015-06-08 08:54] #6 closed, assigned to fpagnoux

[2015-06-09 14:16] #11 closed, assigned to fpagnoux

[2015-06-09 14:18] fpagnoux commented on #11
Issue en standby: on va capturer dans mes-aides les aides perçues dans le passé,  donc on n'aura plus besoin de les estimer comme aujourd'hui sur les 12 derniers mois. Cela devrait nous permettre de nous aligner avec Openfisca sur quelque chose de propre sans passer par une réforme.

[2015-06-10 16:15] fpagnoux commented on #19
See [PR](https://github.com/openfisca/openfisca-france/pull/273)

[2015-06-10 16:30] HelaG commented on #18
Ressources professionnelles neutralisables totalement si elles ne sont plus perçues et non substituées:
- salaires + revenus TNS;
- chômage + ASS
- IJ (sauf les IJ maladie perçues depuis plus de 3 mois, qui ne sont plus considérées comme des revenus de substitution du travail)
- retraites (considérées comme des revenus de substitution du travail)

Revenus non-pro neutralisable dans la limite du mo

[2015-06-12 09:47] fpagnoux commented on #18
Merci, c'est clair :)

Je note ici quelques points à garder en mémoire pour quand on aura le temps,  dans le but de gérer complètement la neutralisation
- Les ressources substituées ne doivent pas être neutralisées (voir sgmap/mes-aides-ui#95)
- L'ASS doit aussi être considéré comme un revenu de substitution
- Les aides familiales devraient aussi pouvoir être neutralisés (voir sgmap/mes-aides-api#

[2015-06-15 16:42] MattiSG opened #20 "Mettre à jour le barème des AF"
En tant que bénéficiaire potentiel faisant une simulation au 1er juillet 2015,
Je peux bénéficier du nouveau barème,
Pour avoir une simulation à jour

[2015-06-17 09:02] fpagnoux opened #21 "Pouvoir déclarer des jumeaux"
En tant que demandeur,
Je peux déclarer mes enfants jumeaux, nés le même jour, sans faire planter Openfisca
pour obtenir un résultat

[2015-06-18 09:33] fpagnoux commented on #21
Faux diagnostic, les jumeaux sont innocents.
Le vrai problème: Openfisca plante quand on lui envoie une personne fiscalement à charge non handicapée dont l'âge est supérieur ou égal à 25 ans.
Dans notre cas, comme nous ne capturons pas de toute façon les enfants de strictement plus de 25 ans,  le problème se pose seulement pour un enfant de 25 ans exactement.

Je vais me renseigner auprès d'Openfi

[2015-06-18 09:33] #21 closed, assigned to fpagnoux

[2015-06-18 09:35] fpagnoux opened #22 "Pouvoir déclarer un enfant de 25 ans"
En tant que demandeur ayant un enfant de 25 ans exactement,
Je peux déclarer cet enfant,
Pour estimer mes droits en prenant en compte cette charge

[2015-06-18 09:42] MattiSG commented on #21
:smile:

GG !

[2015-06-18 12:57] fpagnoux commented on #22
Fixed with the help of  @eraviart !

[2015-06-22 10:20] MattiSG commented on #12
Si pas de réponse, faire une hypothèse et avancer.

[2015-06-22 12:36] #22 closed, assigned to nobody

[2015-06-22 15:08] fpagnoux opened #23 "Neutraliser les revenus ARE interrompus dans la BR de l'ASS"
En tant que demandeur de l'ASS, ayant un  conjoint qui a touché le chômage, mais qui ne le touche plus aujourd'hui (ex: retraite)
Ces ressources ne sont pas prises en comptes dans la base ressource de l'ASS,
Pour obtenir une estimation plus juste de mon ASS

https://mes-aides.gouv.fr/tests/548eda8bdf990f5b0286b9f0/show

[2015-06-22 15:16] fpagnoux commented on #23
See [PR](https://github.com/openfisca/openfisca-france/pull/276)

[2015-06-23 15:47] Anne-LaureM commented on #12
Si je perçois des revenus non salariés, ils doivent être pris en compte après abattement

[2015-06-24 10:49] Anne-LaureM commented on #20
Sur le wiki, vous trouverez les liens des décrets d'application et des nouveaux montants en vigueur au 1er juillet

[2015-06-24 12:15] fpagnoux commented on #20
Est-ce que quelque chose change pour le taux "enfant seul" dans les DOM ?

[2015-06-25 10:17] Anne-LaureM commented on #20
Le taux "enfant seul" dans les DOM est le même:
Allocation pour un enfant: 23,78 euros
Majoration des allocations familiales pour un enfant s’il est âgé de 11 à 15 ans: 14,92 euros
Majoration des allocations familiales pour un enfant pour l’enfant de 16 ans et plus: 22,92 euros
Ce n'est qu'à partir du 2ème enfant dans les DOM que la modulation s'applique.
Je mets les éléments dans le wiki.

[2015-07-01 12:17] MattiSG commented on #20
Il faut modifier la base de ressources sur laquelle la modulation des AF se base : on utilise actuellement `br_pf`, qui correspond au revenu imposable **après abattements** (notamment des frais réels, 10%), alors que la nouvelle base ressource des AF est constituée des revenus imposables (« nets sur lesquels l'impôt est calculé » — [R532-3 CSS](http://legifrance.gouv.fr/affichCodeArticle.do;jsessi

[2015-07-01 12:56] MattiSG commented on #20
A priori, la base de ressources à utiliser est [`rev_cat_tspr`](http://legislation.openfisca.fr/variables/rev_cat_tspr).

[2015-07-01 13:02] MattiSG commented on #20
Non, `rev_cat_tspr` applique aussi un abattement (73000€ de "revenus d'activité connus" => 65700€). Pourtant, la définition « Revenu catégoriel - Traitements, salaires, pensions et rentes » semble correspondre au [R532-3 CSS](http://legifrance.gouv.fr/affichCodeArticle.do;jsessionid=1B4887DFDFBD506B25B643530FD9BA38.tpdila11v_1?cidTexte=LEGITEXT000006073189&idArticle=LEGIARTI000006750894&dateTexte=

[2015-07-01 13:07] MattiSG commented on #20
@Anne-LaureM ajoute la définition de « revenus nets catégoriels » d'après [les impôts](http://www.impots.gouv.fr/portal/dgi/public/popup;jsessionid=G4URLGBRJXQUFQFIEIPSFEY?docOid=documentstandard_2417&espId=0&typePage=cpr02&hlquery=revenu%20net&temNvlPopUp=true) :

73 \* 0,9 = 65,7 => ok, 10% abattus
65,7 \* 0,8 = 52,56 => donc `rev_cat_tspr` ne prend pas en compte le second abattement donné par l

[2015-07-01 13:46] MattiSG commented on #20
@benjello fait remarquer que l'abattement de 20% n'existait que jusqu'en 2006… et que la référence citée plus haut date de 2006  ;)  Il ne subsiste donc aujourd'hui a priori que l'abattement de 10% (moins les pensions alimentaires et des abattements fiscaux [apparemment](http://vosdroits.service-public.fr/particuliers/R10278.xhtml))… qui devraient être pris en compte dans le `br_pf`.

(au passage,

[2015-07-01 15:35] adrienpacifico commented on #20
J'ai jeté un coup d'oeil rapide sur la PR, ce n'est pas exactement ce que j'ai codé car je n'avais pas la même problématique (pas de dom-tom etc).

Pour la br_pf le simulateur de modulation de la CNAF est existe, j'avais essayé de comprendre le calcul exact en décembre et je m'étais un peu arraché les cheveux (Loi + Code :) ).

http://www.caf.fr/actualites/2015/allocations-familiales-le-simulateur

[2015-07-02 04:50] MattiSG commented on #20
:heart: Merci @adrienpacifico !!

On est donc a priori bons, puisque les "revenus d'activité" que l'on capture dans Mes Aides sont déjà un montant imposable auquel il suffit donc d'appliquer l'abattement de 10%, sans jonglage avec la CSG et la CRDS.

Je mets à jour les tests (`/= 0,9`) et je reviens.

[2015-07-03 14:36] MattiSG commented on #20
On a encore des soucis (généralement le montant est doublé par rapport à ce qu'il devrait être). Je redonne le lead à @fpagnoux, avec des tests.

[2015-07-03 16:09] MattiSG commented on #20
[Implémentation alternative](https://github.com/adrienpacifico/Modulation_Allocations_Familiales/blob/master/modulation_allocations_familiales/reforms/af_modulation.py) par @adrienpacifico.

[2015-07-06 08:49] fpagnoux commented on #20
Il faut vérifier qu'il y a bien dépassement de plafond avant d’attribuer le complément dégressif. Je pense que le facteur 2 vient de là.

[2015-07-06 09:19] fpagnoux commented on #20
Par ailleurs beaucoup de tests ludwig ont pour période de calcul le mois de juin, et donc ne prennent pas en compte la modulation.

[2015-07-06 09:25] MattiSG commented on #20
Utilise les tests OpenFisca que j'ai joints à cette PR, ils sont à jour  ;)

[2015-07-06 14:24] #19 closed, assigned to Anne-LaureM

[2015-07-06 14:25] #23 closed, assigned to Anne-LaureM

[2015-07-07 13:01] fpagnoux commented on #20
Tous les tests ludwig en france métropolitaine sont verts.

Certains tests sont rouges pour les DOM, mais c'est probablement issu d'une erreur sur le site de la CAF, qui indique des plafonds différents pour les DOM et la métropole, alors que les textes de loi et la notice envoyée aux CAF ne font pas état de cette différence.

Concernant la possible cumulation des deux compléments dégressifs, je ne

[2015-07-07 21:51] fpagnoux opened #24 "Mettre à jour le barème des AF"
En tant que bénéficiaire potentiel faisant une simulation au 1er juillet 2015,
Je peux bénéficier du nouveau barème,
Pour avoir une simulation à jour
- [x] Twitter
- [x] Wiki

[2015-07-07 21:53] fpagnoux commented on #24
Voir discussion dans la PR

[2015-07-07 21:54] fpagnoux commented on #24
Reste  à faire:
- [x] Mettre à jour les tests sur le serveur de prod en faisant tourner le script de migration
- [x] Communication

[2015-07-08 08:32] MattiSG commented on #24
@fpagnoux Mettre à jour openfisca/openfisca-france#284 avec la dernière version des tests.

[2015-07-08 15:56] fpagnoux commented on #24
Done.

[2015-07-08 16:57] MattiSG commented on #24
https://twitter.com/mesaides/status/618825870736781312

[2015-07-09 15:01] #24 closed, assigned to Anne-LaureM

[2015-07-23 10:09] Anne-LaureM opened #25 "PLF - Gérer la garde alternée"
En tant que demandeur de PLF ayant un ou des enfants en garde alternée,
Ma situation est prise en compte pour le calcul de l'aide

[2015-07-30 15:15] fpagnoux opened #26 "PLF - Proposer l'aide aux propriétaires ayant un crédit"
En tant que propriétaire remboursant un crédit immobilier et respectant les conditions familiales et de ressources,
Je me vois proposer l'aide Paris Logement Famille,
Pour savoir que j'y suis éligible

[2015-07-31 12:41] fpagnoux commented on #26
Besoin de clarification de la MdP, car "le montant de l'aide ne peut être supérieur à la charge mensuelle nette de logement, réellement supportée par le foyer." => pas clair pour un propriétaire.

[2015-08-18 14:43] #26 closed, assigned to fpagnoux

[2015-08-18 14:43] #25 closed, assigned to fpagnoux

[2015-08-18 14:47] HelaG commented on #25
Communication [twitter](https://twitter.com/MesAides/status/625982397738258432) et Mairie de Paris.

[2015-08-18 14:48] HelaG commented on #26
Communication [twitter](https://twitter.com/MesAides/status/625982397738258432) et Mairie de Paris.

[2015-08-24 09:50] fpagnoux opened #27 "Prendre en compte la garde alternée pour les AF"
En tant que demandeur ayant des enfants en garde alternée,
Je peux avoir une estimation juste de mon droit aux AF

[2015-08-24 09:51] fpagnoux commented on #27
Fait suite à sgmap/mes-aides-ui#1

[2015-08-24 09:58] fpagnoux commented on #27
@HelaG :
Je n'ai rien trouvé sur la garde alternée dans le wiki. De ce que j'ai lu [ailleurs](http://www.dossierfamilial.com/famille/couple/garde-alternee-les-consequences-sur-les-prestations-familiales-et-les-impots-57116), les parents ayant un enfant en garde alternée peuvent se répartir les AF selon la formule suivante:

Mais dans sgmap/mes-aides-ui#1, un utilisateur nous signale qu'en ayant un

[2015-08-24 13:42] HelaG commented on #27
@fpagnoux

Anne-Laure avait commencé à creuser la question [ici](https://wiki.openfisca.fr/index.php/Questions_transverses#Garde_altern.C3.A9e).

Et l'art 2 de ce [décret](http://legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000000466994&dateTexte=&categorieLien=id) explique effectivement le calcul d'un "coefficient de prise en charge des enfants".

On pourrait calculer ce coefficient pour un

[2015-08-26 15:10] Flightan opened #28 "Nouveau barême pour la bourse de collège 2015/2016"
Taux et barème pour l'attribution d'une bourse de collège en 2015-2016:

| Revenus annuels | 1 enfant | 2 enfants | 3 enfants | 4 enfants | 5 enfants | par enfant suppl. |
| --- | --- | --- | --- | --- | --- | --- |
| Plafond annuel pour le taux 1 : 84 € | 14 674 | 18 061 | 21 447 | 24 834 | 28 220 | 3 386,4 |
| Plafond annuel pour le taux 2 : 231 € | 7 933 | 9 763 | 11 594 | 13 424 | 15 255 | 1 8

[2015-09-09 14:22] HelaG opened #29 "Appliquer la sanction "ASF" dans le calcul du RSA"
En tant que potentiel bénéficiaire du RSA,
Je peux correctement évaluer mon droit au RSA en fonction de mon droit à l'ASF

Comm:
- [x] DGCS
- [x] Caf 77

[2015-09-09 15:18] HelaG commented on #29
Le RSA est un droit [subsidiaire](http://www.legifrance.gouv.fr/affichCodeArticle.do?cidTexte=LEGITEXT000006074069&idArticle=LEGIARTI000006797194&dateTexte=&categorieLien=cid). Ce qui veut dire que le bénéficiaire potentiel doit faire valoir son droit à l'ASF avant son droit au RSA.

Le bénéficiaire potentiel du RSA peut demander à être ["dispensé" de son obligation](http://www.legifrance.gouv.fr/

[2015-09-09 15:20] HelaG commented on #29
Quand on détecte une éligibilité potentielle à l'ASF, on la fait apparaitre en résultat et on déduit systématiquement un montant forfaitaire d'ASF du calcul du RSA.

Ce qui n'est pas le cas pour les cas de recette de la Caf:
- https://mes-aides.gouv.fr/tests/559fbff8186ae5620110e2a6/show?keyword=recette
- https://mes-aides.gouv.fr/tests/559f904dd7483c5f013a9b55/show?keyword=recette

[2015-09-09 16:30] HelaG commented on #29
@fpagnoux je continue de penser qu'on ne peut pas faire mieux que d'afficher l'éligibilité à l'ASF et le RSA minoré du montant forfaitaire de l'ASF.

Par contre, je pense qu'on a encore un problème sur l'ASF cf [nouveau test de la Caf 44](https://mes-aides.gouv.fr/tests/55f022fa0d70943004ddcca2/show).

[2015-09-09 16:48] fpagnoux commented on #29
Sur ce cas, les pensions alimentaires ont été indiquées nulles sur les 3 derniers mois. L'ASF est donc activé. Je pense que c'est une erreur de saisie.

[2015-09-09 16:51] fpagnoux commented on #29
Par contre, as-tu vu ce [commentaire](https://github.com/openfisca/openfisca-france/pull/301#issuecomment-138963795) de @benjello ?
Cela risque de complexifier la prise en compte des pensions alimentaires...

[2015-09-09 16:56] HelaG commented on #29
C'est pas forcement une erreur de saisie. Les pensions alimentaires, peuvent être versées de façon annuelle par l'ex-conjoint. Auquel cas il n'y a pas créance alimentaire et donc pas d'ASF.

Pour le cas des pensions alimentaires versées par les parents de la jeune maman, je pense que l'on peut convenir qu'il s'agit d'un cas assez rare pour ne pas affecter la prise en compte nominale des pensions a

[2015-09-09 17:00] fpagnoux commented on #29
Dans ce cas, comment différencier une situation où l'ex-conjoint a arrêté
de verser la pension il y a 6 mois, de celle où il la verse annuellement ?

Je suis bien d'accord sur le second point, mais il faudra en discuter avec
openfisca.

[2015-09-10 16:07] #14 closed, assigned to Anne-LaureM

[2015-09-11 09:49] Anne-LaureM opened #30 "Prendre en compte les personnes hébergées à titre onéreux"
En tant que bénéficiaire potentiel hébergé à titre onéreux, je dois pouvoir me reconnaitre dans le statut "hébergé" et ne pas me voir appliquer le forfait logement dans le calcul du RSA
- [x] Modifier "Vous êtes occupant à titre gratuit" en "Vous êtes hébergé"
- [x] Si le bénéficiaire potentiel coche le statut "hébergé", afficher la question "Participez-vous aux frais du logement (électricité, gaz

[2015-09-14 17:00] HelaG commented on #29
Si on détecte une éligibilité on à l'ASF, on demande à la personne de préciser si un juge ou un médiateur à fixer un montant de pension alimentaire :
- Si oui alors, on lui confirme son droit ASF;
- Si non, on lui demande si elle a été dispensé d'engager une actions  pour fixer des PA;
  Si oui on lui donne du RSA sans "sanction ASF".
  Si non, on l'informe qu'elle devra engager ces démarches dans

[2015-09-17 11:15] fpagnoux commented on #27
Il me semble qu'on a pris la décision suivante :
- Appliquer systématiquement le coefficient
- Disclaimer comme quoi on ne tient pas compte des accords

[2015-09-18 11:30] fpagnoux commented on #27
@helag

Je viens d'implémenter la règle suivante :

Pour une famille qui a n enfants, dont k en garde alternée, alors la famille percevra le montant suivant :
AF pour n enfants x (1 - 0.5k/n)

Un point reste ambigu : qu'est ce qui se passe si le nombre d'enfant "moyen" est inférieur à 2 ? Par exemple si une famille a 1 enfant à taux plein + 1 en g.a, ou 3 enfants en g.a.

D'après le témoignage de

[2015-09-21 09:58] Anne-LaureM commented on #12
Après contact avec la MSA, confirmation que pour les TNS agricoles prise en compte de mon dernier bénéfice agricole net.
Depuis mai 2015 la MSA propose un simulateur CMUC/ACS en ligne qui permet à l’usager de faire une simulation avant de pouvoir faire sa demande en ligne via son espace personnel. Ce qui est intéressant c’est qu’à ce stade, aucun justificatif n’est demandé, ce n’est qu’après pré-i

[2015-09-21 10:23] Anne-LaureM commented on #12
Depuis mai 2015 la MSA propose un simulateur CMUC/ACS en ligne qui permet à l’usager de faire une simulation avant de pouvoir faire sa demande en ligne via son espace personnel. Ce qui est intéressant c’est qu’à ce stade, aucun justificatif n’est demandé, ce n’est qu’après pré-instruction de la demande que l’agent revient vers l’usager pour récupérer les justificatifs absents de leurs bases de don

[2015-09-21 16:05] MattiSG commented on #12
Pour un TNS agricole : mettre à jour l’interface de saisie des revenus et demander si le bénéficiaire potentiel a toujours une activité agricole (par défaut, oui).
Si non, alors lui demander depuis quand il l’a cessée. Ajouter aux mois d’activité de l’année civile courante un montant correspondant à 1/12ème des revenus de l’année civile précédente (déjà capturés aujourd’hui).

[2015-09-21 16:11] MattiSG opened #31 "Calculer l'égibilité à la CMU-C des TNS agricoles"
Gérer le cas des agriculteurs comme défini dans #12.
Connected to #12
Récupérer le test fait par @Anne-LaureM qui dépendait d’une saisie de paramètre.

[2015-09-22 09:33] MattiSG commented on #16
Définition faite dans sgmap/mes-aides-api#34 :

[2015-09-23 14:48] Anne-LaureM commented on #12
J'ai changé le test TNS  agricole en saisissant un BA
https://mes-aides.gouv.fr/tests/553a77bab2f8f07f2d44699e/show?keyword=cmu-c%252Facs

[2015-09-25 08:17] fpagnoux opened #32 "Prendre en compte les adultes handicapés à charge dans le calcul de l"APL"
En tant que bénéficiaire potentiel ayant un adulte handicapé à charge,
Cette personne est prise en compte dans le calcul des allocations logement,
Pour que je puisse obtenir une estimation plus juste de mon AL

Explique [ce cas de recette rouge](https://mes-aides.gouv.fr/tests/559fb665f394e1a7011b573a/show)

[2015-09-25 08:30] fpagnoux opened #33 "Prendre en compte les prestations injectées dans le calcul du RSA"
En tant que bénéficiaire potentiel déclarant des prestations,
Celles-ci sont prises en compte dans le calcul du RSA,
Pour obtenir une évaluation plus juste du montant de mon RSA

[2015-09-25 08:31] fpagnoux commented on #33
Aujourd'hui, le RSA est encore dans l'ancien modèle et utilise les valeurs calculées pour le mois M.

[2015-09-25 08:34] fpagnoux opened #34 "N'appliquer au maximum qu'une seule sanction ASF"
En tant que bénéficiaire potentiel isolé.e sanctionné.e par un ASF fictif au titre de plusieurs enfants,
Le montant de RSA que j'obtiens ne prend en compte qu'une seule pénalité,
Pour obtenir une évaluation plus juste de mon RSA

[2015-09-25 08:36] fpagnoux commented on #34
Point évoqué par la CAF, **à confirmer**.
Il semble que la sanction appliquée ne corresponde en général qu'à une seul ASF, et ne soit pas proportionnelle au nombre d'enfants concernés.

[2015-09-25 08:37] fpagnoux opened #35 "Prendre en compte les revenus N-2 des enfants"
En tant que bénéficiaire potentiel hébergeant sous mon toit des enfants percevant des ressources,
Leurs revenus (y compris N-2) sont pris en comptes dans mon calcul des AL,
Pour obtenir une évaluation plus juste de mes AL

[2015-09-25 08:39] fpagnoux commented on #35
Vu sur un dossier CAF :

[2015-09-30 15:59] fpagnoux commented on #30
![image](https://cloud.githubusercontent.com/assets/11834997/10198772/d32e3b0e-679d-11e5-98fa-20d1c05dd345.png)

@HelaG @MattiSG @Anne-LaureM, est-ce que cette interface vous paraît adaptée?

[2015-09-30 16:10] MattiSG commented on #30
Mmh. Nécessite un test utilisateur.

[2015-09-30 16:16] fpagnoux commented on #30
Ça a marché avec Yohan

[2015-10-02 13:30] HelaG commented on #29
@fpagnoux : En attente d'infos claires sur les cas de dispense ASF et d'"hors d'Etat", on applique la sanction ASF du montant d'1 forfait?

[2015-10-02 14:01] HelaG commented on #29
L'[article R262-10-](http://www.legifrance.gouv.fr/affichCodeArticle.do;jsessionid=7D13223DCE21CBCC78A28F0B237BC01D.tpdila18v_1?idArticle=LEGIARTI000029006452&cidTexte=LEGITEXT000006074069&dateTexte=20151002&categorieLien=id&oldAction=&nbResultRech=) explique comment prendre en compte l'ASF au montant forfaitaire.
Il n'est pas spécifié qu'on doit prendre en compte le montant d'1 forfait ASF... L'[

[2015-10-05 08:33] fpagnoux commented on #29
Ok pour moi, on peut implémenter ça rapidement en attente de plus d'information.

[2015-10-05 08:57] fpagnoux commented on #29
Décision après point avec @helag :
La sanction ASF étant à la discrétion du PCD, on ne pourra pas l'automatiser.
On va donc rester sur le fonctionnement actuel, i.e.

[2015-10-06 09:02] fpagnoux commented on #12
Pour le wiki, je résume les hypothèses faites pour la prise en compte des TNS dans les BR es aides calculées:
- **RSA**:
  Prise en compte du bénéfice de l'auto-entrepreneur (i.e. le CA moins un abattement dépendant de l'activité)
  Pour les autres TNS, non calculabilité car le PCD doit évaluer les ressources
  On ne donne pas de RSA avec certitude si:
      Les revenus sont supérieurs à un plafon

[2015-10-06 14:13] MattiSG commented on #29
- [x] Documenter dans wiki (lien vers discussion ou synthèse si nécessaire).
- [x] Refuser les tests dépendant d’une décision humaine, en accord avec leur auteur.

[2015-10-06 15:08] MattiSG commented on #30
- [x] Vérifier la terminologie associée à l’hébergement en foyer (parle-t-on de bail ?). — @HelaG
- [x] Faire apparaître la notion d’apparition sur le bail dans « locataire ». — @MattiSG @Fpagnoux
- [x] Supprimer la condition textuelle « apparaître sur le bail ». — @Fpagnoux
- [ ] Explorer au niveau juridique le cas location longue durée via plateforme de mise en relation numérique (AirBnB…) : con

[2015-10-06 16:23] MattiSG commented on #32
Duplicate of sgmap/mes-aides-ui#169.

[2015-10-06 16:23] #32 closed, assigned to nobody

[2015-10-06 17:04] MattiSG commented on #31
Inclus dans #12.

[2015-10-06 17:04] #31 closed, assigned to fpagnoux

[2015-10-07 10:02] fpagnoux commented on #28
[PR](https://github.com/openfisca/openfisca-france/pull/339) sent

[2015-10-07 12:02] fpagnoux commented on #28
Mis en prod aujourd'hui

[2015-10-07 12:38] fpagnoux commented on #28
@helag @mattisg @anne-laurem
On n'a pas défini de communication sur celui-là, est-ce qu'on fait quelque chose ?

Si on veut tester cette mise à jour des barèmes, je suggère qu'on ne le fasse pas sur ludwig, c'est trop lourd. J'ai créé [quelques tests](https://github.com/sgmap/openfisca-france/blob/maj-bourse/openfisca_france/tests/formulas/bourse.yaml) directement en yaml. Je pense que ce format e

[2015-10-07 14:13] MattiSG commented on #28
Meh, c'est un peu tard pour  :-/
Éventuellement, si on faisait un lien avec Bourses, je dis pas, mais là c'est bof.

En fait, de manière générale, la communication sur la fiabilité a de moins en moins de sens puisque ça devient un acquis  ;)

Le format YAML me semble carrément plus adapté. Il pose pour l'instant un problème sur le fait qu'on a tellement communiqué sur Ludwig comme étant la source

[2015-10-07 16:08] fpagnoux commented on #33
Je viens d'implémenter en local chez moi, ça casse 11 tests. Ça vaut le coup de s'y arrêter parce que ça pose des vrais questions sur le fonctionnement du simulateur et sur l'injection des ressources. Pour ouvrir le débat, je vous donne tous les cas que j'ai pu trouvé/imaginé et qui peuvent poser problème.

#### [Cas 1 : primo accédant](https://mes-aides.gouv.fr/tests/55bb70a5f0ac7bb86ba0523d/show

[2015-10-07 16:42] fpagnoux commented on #33
#### Cas 2:  Forfait logement

Je suis locataire, sans revenu
Je suis éligible aux aides logement (400€) et au RSA(514€).
Les AL font partie des ressources prises en compte par le RSA.
Je ne touche aujourd'hui aucune aide. Je fais une simulation sur mes-aides.

Qu'est ce que le simulateur doit m'indiquer ?
- **A**: `AL = 400€` et `RSA = 452€`. C'est le fonctionnement actuel, avec déduction du forf

[2015-10-07 16:48] fpagnoux commented on #33
#### [Cas 3 :  Bénéficiaire potentiel vérifiant le montant d'aides qu'il touche déjà](https://mes-aides.gouv.fr/tests/55bb70a5f0ac7bb86ba0523d/show?state=pending&state=validated)

_Variante du 1er_

Je suis en couple, sans revenu, et j'ai un enfant de 2 ans.
Je touche aujourd'hui 180€ de PAJE et 738€ de RSA, car le montant de la PAJE est déduit du RSA.
Je vais sur mes-aides pour regarder à quelles

[2015-10-07 17:04] fpagnoux commented on #33
#### [Cas 4 :   test de recette](https://mes-aides.gouv.fr/tests/55bb70a5f0ac7bb86ba0523d/show?state=pending&state=validated)

_Autre variante du 1er_

Je suis un expert de la CAF, en train d'écrire un test.
Il s'agit du cas d'un couple, sans revenu, avec un enfant de 2 ans.
Il touche aujourd'hui 180€ de PAJE et 738€ de RSA, car le montant de la PAJE est déduit du RSA.
Je veux tester la PAJE et le

[2015-10-07 17:14] HelaG commented on #33
C'est effectivement un point sur lequel on devrait s'arrêter un moment (éventuellement en discuter avec Jérôme).

Personnellement, je suis très à l'aise avec les réponses A, qui donne une lecture des droits dans leur ensemble à un instant T (sans séquencement des demandes et des éventuels "avantages" temporaires dont un usager pourrait bénéficier). Mais c'est peut-être simplement que je me suis ha

[2015-10-07 17:31] fpagnoux commented on #33
#### Cas 5 : sous-ensemble d'une prestation

_Le cas le plus foireux_

J'ai 5 enfants de 20, 17, 11, 7 et 5 ans.
Je touche 610€ d'allocations familiales.
Pour la CAF, ce montant se décompose en un montant de base (463€), plus une majoration liée à l'âge du second et de la troisième (65€) et une allocation forfaitaire pour l’aînée (82€) car c'est la dernière année qu'elle est à ma charge pour la CA

[2015-10-07 17:38] HelaG commented on #33
OUCH! Faut vraiment qu'on prenne un moment là dessus!

[2015-10-07 17:52] benjello commented on #33
Le montant d'AF de base ne dépend que de la décomposition de la famille et le simulateur le détecte ;-)
En gros dès que je mets que je touche une AF on me demande la composition de ma famille.

[2015-10-08 16:36] Anne-LaureM opened #36 "Appliquer 30% d'abattement sur les salaires uniquement si indemnistation chômage ou rém de formation professionnelle"
En tant que demandeur d'emploi non indemnisé je ne peux pas bénéficier de l'abattement de 30% sur mes revenus salariés pour le calcul de la CMUC/ACS.

[2015-10-08 16:38] Anne-LaureM commented on #36
Abattement à appliquer uniquement si le demandeur d'emploi déclare une allocation chômage le mois précédant la demande ou si la personne perçoit une indemnisation de stage de formation professionnelle (http://www.cmu.fr/vous_etes_au_chomage.php) et test rouge (https://mes-aides.gouv.fr/tests/5613ea9691ca94f36e1e3895/show)

[2015-10-09 13:31] HelaG commented on #27
Retour de la DSS qui confirme notre compréhension du sujet :

Dès qu'il y a deux enfants à charge, la famille ouvre droit aux allocations familiales quelle que soit la valeur du coefficient (et donc du nombre moyen d'enfants intervenant dans ce calcul) résultant des règles définies à l'article R. 521-3 CSS : en effet, il s'agit d'un paramètre de calcul des AF et de la majoration pour âge en cas de

[2015-10-09 13:33] HelaG commented on #27
- [x] Refuser le [test](https://mes-aides.gouv.fr/tests/553695fc5a5c6d762da9ba5a/show?keyword=garde%20altern%C3%A9e)
- [x] Informer Stephane Colson

[2015-10-12 14:05] HelaG commented on #30
Terminologie utilisée en foyer : on parle de contrat de résidence (maison de retraite, foyer social...), de contrat de location et plus rarement de bail.

J'ai demandé à une amie en foyer qui pour les aides au logement se souvient avoir fourni une attestation de loyer (formulaire de la Caf rempli par le bailleur ou gestionnaire de foyer).

Je propose d'afficher en face (ou en sur texte) de locatai

[2015-10-13 08:21] HelaG commented on #34
Connected to sgmap/openfisca-france#29

[2015-10-13 08:23] HelaG commented on #34
L'[article R262-10-](http://www.legifrance.gouv.fr/affichCodeArticle.do;jsessionid=7D13223DCE21CBCC78A28F0B237BC01D.tpdila18v_1?idArticle=LEGIARTI000029006452&cidTexte=LEGITEXT000006074069&dateTexte=20151002&categorieLien=id&oldAction=&nbResultRech=) précise qu'on doit bien prendre en compte d'ASF "pour chaque enfant".

[2015-10-13 08:24] #34 closed, assigned to nobody

[2015-10-16 15:10] fpagnoux commented on #27
Déployé aujourd’hui. Attention, il n'y a pas de test pour le moment.

[2015-10-20 14:22] HelaG commented on #27
- [x] Créer des tests
- [x] Informer Mme Bussiere

[2015-10-22 15:30] HelaG commented on #35
[Test prise en compte des ressources des enfants](https://mes-aides.gouv.fr/acceptance-tests/54ad549a8b7d192c16f020ae/show)
[Test de recette Caf77](https://mes-aides.gouv.fr/acceptance-tests/55e69e788f08059b0442d13c/show?keyword=recette)

[2015-10-26 13:37] #29 closed, assigned to HelaG

[2015-10-26 13:37] #28 closed, assigned to nobody

[2015-10-28 15:07] HelaG commented on #33
Le RSA calculé au mois M prend en compte le montant de prestations que l'usager déclare continuer à percevoir au mois M, à l'exception des agrégats (type AF base / majoré / forfait).
La prises en compte des agrégats dans le RSA nécessite de connaitre la décomposition exacte (montant de base/majoration) de ces agrégats - l'usager n'en ayant pas connaissance, il est plus sûr de recalculer ces agréga

[2015-10-28 15:42] HelaG commented on #33
- [x] [wiki](https://wiki.openfisca.fr/index.php/RSA#Ressources)

[2015-10-28 15:44] #33 closed, assigned to nobody

[2015-10-29 13:52] HelaG commented on #27
Tests créés :
- [cas simple d'une garde alternée 2 enfants pas de majoration](https://mes-aides.gouv.fr/tests/5631fdc7a93fb89045fadc4d/show)
- [Test vert - application du coefficient de répartition sur l'AF de base et pas la majoration](https://mes-aides.gouv.fr/tests/56322251c13af18e45e5ce91/show)
- [Test rouge - 3 enfants dont un de plus de 14 ans en garde alternée](https://mes-aides.gouv.fr/tes

[2015-10-29 14:35] HelaG opened #37 "Diviser par 2 la majoration pour âge en cas de garde alternée"
En tant que parent d'un enfant de plus 14 ans en garde alternée,
Je peux avoir une évaluation exacte du montant de mes AF

[cf. Art. 521-4 du CSS](http://www.legifrance.gouv.fr/affichCodeArticle.do;jsessionid=6DB9AE9F8E1126882C53FDBD583919B1.tpdila23v_1?cidTexte=LEGITEXT000006073189&idArticle=LEGIARTI000006750611&dateTexte=&categorieLien=cid)

[2015-10-29 14:37] HelaG commented on #37
Tests rouges [1](https://mes-aides.gouv.fr/tests/5631ffd49506438345b55b10/show?keyword=af&keyword=garde%20altern%C3%A9e) et [2](https://mes-aides.gouv.fr/tests/563227d6c13af18e45e5cea0/show?keyword=af&keyword=garde%20altern%C3%A9e)

[2015-10-29 14:47] #27 closed, assigned to nobody

[2015-11-02 12:04] #36 closed, assigned to nobody

[2015-11-04 11:01] fpagnoux commented on #30
En surtexte : ![image](https://cloud.githubusercontent.com/assets/11834997/10936223/c148cda0-82eb-11e5-9381-89253841dcc2.png)

[2015-11-04 11:03] fpagnoux commented on #30
Dans le texte de label : ![image](https://cloud.githubusercontent.com/assets/11834997/10936267/08e0d8c4-82ec-11e5-8608-b15ef5c149e8.png)

[2015-11-04 11:04] fpagnoux commented on #30
En face du texte dans un `helpblock` c'est quelque chose qu'on n'a jamais fait sur mes-aides pour des listes à puces, ça demanderait plus de travail.

[2015-11-04 11:08] fpagnoux commented on #30
@MattiSG, @HelaG,
Des idées sur l'implémentation ? Je trouve la deuxième un peu lourde, mais dans la première pas sûr que le bénéficiaire potentiel voit le message.
@MattiSG, tu es d'accord sur le fait que ce soit trop cher d'investir sur l'intégration de helpblock dans les listes ou pour toi ça vaut le coup ?

[2015-11-04 13:20] MattiSG commented on #30
Timebox 1h sur help block dans les listes, et à défaut go solution 1 ?

[2015-11-04 15:53] MattiSG commented on #30
- [x] Passer un appel à testeurs sur réseaux. — @MattiSG

[2015-11-05 10:34] MattiSG commented on #30
https://twitter.com/mesaides/status/662215852369031168

[2015-11-05 13:52] HelaG opened #38 "Renvoyer vers la demande en ligne d'APL sur Caf.fr"

[2015-11-05 13:54] HelaG commented on #38
Replaced by https://github.com/sgmap/mes-aides-ui/issues/194

[2015-11-05 13:54] #38 closed, assigned to nobody

[2015-11-09 11:05] MattiSG commented on #12
[Wiki](https://wiki.openfisca.fr/index.php?title=CMU-C_et_ACS&diff=1224&oldid=1041) et [tweet](https://twitter.com/mesaides/status/663673848420818944).

[2015-11-09 11:05] #12 closed, assigned to nobody

[2015-11-09 16:19] MattiSG commented on #30
Test utilisateur hébergé chez parents : ok.

[2015-11-09 17:50] MattiSG commented on #30
Test utilisateur hébergé chez parents : ok. (+1)

[2015-11-09 20:12] MattiSG commented on #30
Test utilisateur hébergé chez amis : ok. Le différentiel avec la version actuelle prouve une nette amélioration.

Formulation « Hébergé » validée.

[2015-11-18 17:19] MattiSG commented on #30
@HelaG @fpagnoux on n’a pas de test Ludwig sur le sujet ?!

[2015-11-18 18:19] HelaG commented on #30
En tant que personne sans domicile stable, je peux être domicilié par la mairie (et pas une association)

[2015-11-18 18:21] HelaG commented on #30
Si on a un [test ludwig](https://mes-aides.gouv.fr/tests/55929dc82f56a0fd2f63356b/show?keyword=forfait%20logement).

[2015-11-19 07:39] MattiSG commented on #30
Il mentionne un bénéficiaire « sans domicile stable », je parlais d'un test pour une personne hébergée à titre onéreux  :wink:

[2015-11-20 16:07] HelaG commented on #30
Maintenant on en a [un](https://mes-aides.gouv.fr/tests/564f45b4b1fc7b1002c2cfc0/show)!

[2015-11-20 16:34] HelaG commented on #30
@MattiSG tu as reçu une réponse de la CNAF à ton mail du 07/09?
Si oui, ce serait sympa de lui parler de cette petite nouveauté!

[2015-11-20 17:52] MattiSG commented on #30
Non, pas eu de réponse. On met ça dans la com  :)

[2015-11-20 18:38] MattiSG commented on #30
https://twitter.com/mesaides/status/667774044196970497

[2015-11-20 18:47] #30 closed, assigned to nobody

[2015-12-17 11:08] HelaG opened #43 "Ajouter Paris Solidarité"
En tant que parisien,
Je peux calculer mon droit à Paris Solidarité,
Pour avoir une vision globale de mes droits.

[2015-12-17 11:11] HelaG opened #44 "Ajouter Paris Logement"
En tant que parisien,
Je peux calculer mon droit à Paris Logement,
Pour avoir une vision globale de mes droits

[2015-12-17 18:28] #44 closed, assigned to nobody

[2015-12-17 18:32] HelaG commented on #44
Remplacée par sgmap/mes-aides-ui#229

[2015-12-17 18:32] #43 closed, assigned to nobody

[2015-12-17 18:34] HelaG commented on #43
Remplacée par sgmap/mes-aides-ui#230

[2016-01-17 02:13] GesJeremie opened #47 "Erreur API situations"
Url: https://mes-aides.gouv.fr/telecharger-formulaires/rsa

Après simulation des aides, lors de la dernière étape, lorsque je veux télécharger le formulaire de demande, l'API me retourne une erreur:

[code]

[2016-01-18 08:00] MattiSG commented on #47
Bonjour @GesJeremie et merci beaucoup pour ce retour de bug !

Le préremplissage des formulaires est effectivement instable. Nous allons explorer ce sujet plus en détails ici : sgmap/mes-aides-ui#238 (le problème est lié à Mes Aides et non à OpenFisca, simple redirection administrative  ;)  ).

[2016-01-18 08:00] #47 closed, assigned to nobody

[2016-01-26 00:48] fpagnoux commented on #35
Il y a un abattement documenté sur le [wiki](https://wiki.openfisca.fr/index.php/Allocations_logement#Abattement_enfants_et_personnes_.C3.A2g.C3.A9es).
L'âge de l'enfant n'importe pas, je renomme l'issue. Par contre, il y a un facteur obscur de 1.25 dans la loi.

[2016-01-29 15:10] fpagnoux opened #49 "Pas de sanction ASF pour la PPA"
En tant que bénéficiaire potentiel ne déclarant ni d'ASF ni de pension alimentaire reçues,
Je ne vois pas ma PPA déduite d'une sanction ASF

[2016-01-29 15:11] fpagnoux commented on #49
Point remonté par la CAF 44.
C'était  en réalité déjà le cas pour le RSA activité.

[2016-02-24 09:34] fpagnoux commented on #37
Wiki à mettre à jour

[2016-02-24 14:36] fpagnoux commented on #49
En fait on ne prend pas en compte cette sanction pour le RSA non plus (trop hasardeux).
Peu de conséquences de toute façon: on suggère de l'ASF si le benpot est éligible, et on retranche toujours le forfait du RSA.

[2016-02-24 14:36] #49 closed, assigned to nobody

[2016-02-29 14:04] fpagnoux commented on #16
@HelaG,
Si je comprends bien la règle expliquée dans le test :
Si un TNS avait des revenus faibles en N-2, et une activité en M-1, on lui compte comme ressources un montant fixe qui ne dépend pas de ses ressources actuelles ?

[2016-02-29 14:11] fpagnoux commented on #16
Ok, ça semble confirmé [ici](http://www.senat.fr/questions/base/2010/qSEQ101216472.html).

[2016-03-01 17:19] fpagnoux commented on #16
Il reste un écart sur le test après l'évaluation forfaitaire...

[2016-03-02 11:52] fpagnoux commented on #16
Fixed, il fallait juste bien différencier le SMIC N-2 pour le plancher de ressource, et le SMIC de juillet dernier pour l'évaluation forfaitaire.

[2016-03-04 14:57] fpagnoux commented on #35
@HelaG : dans le wiki on peut lire:

Je n'arrive pas à trouver de référence légale officielle pour ce chiffre. Tu sais d'où il vient ? J'aimerais en particulier savoir s'il n'a pas changé depuis...

[2016-03-04 15:02] fpagnoux commented on #35
Ma conjecture est que ce chiffre est 1.25 \* [ce paramètre](http://legislation.openfisca.fr/parameters/minim.aspa.plaf_seul). Ce qui paraît tordu, vu que ça parle d'ASPA, mais ça a l'air de coller pour 2011.

[2016-03-04 15:06] fpagnoux commented on #35
Ok, je confirme que c'est bien basé sur l'ASPA.

[2016-03-04 18:04] benjello commented on #35
@fpagnoux as-tu une référence législative ?

[2016-03-08 10:34] fpagnoux opened #50 "Calculer les AL pour les DOM"
En tant que bénéficiaire potentiel dont la famille réside dans les DOM,
Mon aide au logement est calculée selon les barèmes spécifiques des DOMs.

[2016-03-08 10:38] fpagnoux commented on #50
C'est [un des tests](https://mes-aides.gouv.fr/tests/5493193ec54524d87a61aa97/show) que l'on s'est engagé à faire passer pour mi-mars. Il a été créé par Caroline B.

@HelaG, je me sentirais plus à l'aise si on avait une référence légale pour être sûr que l'on comprends bien cette règle.  Je n'en ai pas trouvé après avoir cherché un certain temps, si tu as des idées je suis preneur...

[2016-03-08 13:22] fpagnoux commented on #50
Ok j'ai un chapître sur les DOM ici http://www.territoires.gouv.fr/IMG/pdf/MEDDAT_Plaq_logement_2013_bd.pdf

[2016-03-16 10:34] #35 closed, assigned to fpagnoux

[2016-03-16 10:38] fpagnoux commented on #35
Mergé et déployé

[2016-03-22 16:07] fpagnoux opened #51 "Prendre en compte l'ASS dans le calcul de la PPA"
En tant que potentiel bénéficiaire de la PPA donc le conjoint perçoit l'ASS,
Cette ASS est prise en compte dans le calcul de ma PPA en tant que revenu de remplacement

[2016-04-04 17:29] fpagnoux opened #53 "Clarify all obscure variables used in mes-aides scope"

[2016-04-04 17:30] fpagnoux opened #54 "Put individualized prestations in the right entity"
So far we put all of them in Famille, which is wrong and brings limitations.

[2016-04-05 11:57] fpagnoux commented on #51
[Test vert](https://mes-aides.gouv.fr/tests/5703aaaccd2e97551649040e/show)

[2016-04-08 07:54] #50 closed, assigned to nobody

[2016-04-08 07:54] #16 closed, assigned to nobody

[2016-04-08 07:54] #37 closed, assigned to fpagnoux

[2016-04-13 18:05] HelaG opened #56 "Prendre en compte Paris Solidarité dans le calcul du RSA"

[2016-04-13 18:06] HelaG opened #57 "Prendre en compte l'ASPEH dans le calcul du RSA"

[2016-04-14 13:46] fpagnoux opened #58 "Prendre en compte les indemnités journalières perçues depuis plus de 6 mois"
En tant que bénéficiaire potentiel percevant des IJ depuis plus de N mois,
Ces revenus sont pris en compte comme des revenus hors activité

[2016-04-14 13:48] fpagnoux opened #59 "Prendre en compte les pensions d'invalidité dans la PPA"
En tant que bénéficiaire potentiel percevant une pension d'invalidité,
Cette pension est prise en compte dans le calcul de la PPA comme un revenu hors activité

[2016-04-15 11:02] #51 closed, assigned to fpagnoux

[2016-04-15 11:02] fpagnoux commented on #59
Test: https://mes-aides.gouv.fr/tests/570f8fe5a81b72460dfa009f/show?state=pending

[2016-04-21 09:44] laem opened #60 "TNS (travailleurs non salariés)"
Il y a quelques variables à propos des TNS dans le code, mais ça semble très partiel. Est-ce seulement ce qui est nécessaire pour le calcul des prestations / mes-aides ? @benjello @fpagnoux

[2016-04-21 10:22] benjello commented on #60
En fait les variables liées aux TNS sont en double:
- Certains ont été rajoutées par @jdesboeufs de façon ad-hoc au début de mes aides dans le rush
- D'autres sont présentes comme variables liées à l'impôt sur le revenu

Et oui, il faudrait uniformiser tout cela.

[2016-04-21 14:08] fpagnoux commented on #60
Oui, mes-aides et le calcul de l'impôts sont basés chacun sur leurs propres variables...

[2016-04-26 17:26] #53 closed, assigned to nobody

[2016-05-06 12:57] HelaG opened #61 "Prendre en compte la prime forfaitaire mensuelle pour la reprise d’activité dans la PPA"
En tant que potentielle bénéficiaire de la prime forfaitaire mensuelle pour la reprise d’activité

Je peux avoir une bonne évaluation de la PPA.

La Prime forfaitaire mensuelle pour la reprise d’activité entre dans la BR de la PPA comme l'ASS (revenu de substitution).
- [ ] Mail DGEFP 21/04

[2016-05-17 12:55] #59 closed, assigned to fpagnoux

[2016-05-19 16:56] fpagnoux commented on #58
Doublon de sgmap/mes-aides-api#80

[2016-05-19 16:56] #58 closed, assigned to fpagnoux

[2016-05-19 16:57] fpagnoux commented on #61
Doublon de Doublon de sgmap/mes-aides-ui#274. Traité.

[2016-05-19 16:58] #61 closed, assigned to nobody

[2016-06-07 09:23] fpagnoux opened #62 "Prendre en compte le patrimoine dans les AL"
En tant que bénéficiaire potentiel ayant du patrimoine,
Celui-ci est pris en compte dans le calcul de mes AL

---

Réforme en vigueur en octobre 2016

[2016-06-07 09:32] benjello commented on #62
Afin d'éviter de dupliquer des variables qui recouvrent les mêmes réalités (comme pour les revenus non salariaux qu'il va bien falloir corriger un jour), il serait utile d'utiliser les variables de patrimoine présentes dans la déclaration [ISF](https://github.com/openfisca/openfisca-france/blob/master/openfisca_france/model/prelevements_obligatoires/isf.py) quitte à faire un peu de renommage.

[2016-06-10 15:11] MattiSG opened #63 "Déterminer les interactions des bourses de collège"
Avec les autres prestations nationales.

[2016-06-10 15:11] MattiSG opened #64 "Déterminer les interactions des bourses de lycée"
Avec les autres prestations nationales.

[2016-06-10 15:11] MattiSG opened #65 "Déterminer les interactions de l'ASI"
Avec les autres prestations nationales.

[2016-06-10 15:11] MattiSG opened #66 "Déterminer les interactions de l'AAH"
Avec les autres prestations nationales.

[2016-08-22 15:25] fpagnoux commented on #66
- [x] RSA: Prise en compte à taux plein
- [x] PPA: Prise en compte à taux plein OU comme un revenu d'activité  (suivant la valeur du revenu d'activité hors AAH)
- [x] CMU/ACS: Prise en compte à taux plein
- [x] ASS: Exclu car non imposable
- [x] PF: Exclu car non imposable
- [x] Bourses: Exclu car non imposable
- [x] ASPA:
  -  [x] L'AAH est incompatible avec une pension de vieillesse, elle cesse

[2016-08-22 15:35] fpagnoux commented on #65
- [x] RSA: Prise en compte à taux plein
- [x] PPA: Prise en compte à taux plein
- [x] CMU/ACS: Prise en compte à taux plein
- [x] ASS: Exclu car non imposable
- [x] PF: Exclu car non imposable
- [x] Bourses: Exclu car non imposable
- [x] ASPA:
  - [x] L'ASI est incompatible avec l'ASPA, elle cesse d'être versée dès que la personne a droit à l'ASPA.
  - [x] L'ASI du conjoint n'est pas prise en comp

[2016-08-22 18:07] fpagnoux commented on #64
- [x] Pas prises en compte pour le RSA
- [x] Pas prises en compte pour la PPA
- [x] Pas prises en compte pour la CMU/ACS
- [x] ASS: Exclu car non imposable
- [x] PF: Exclu car non imposable
- [x] ASI et ASIA: Exclu

[2016-08-23 15:56] fpagnoux commented on #64
La bourse de collège n'est impliquée dans aucune interaction. Tout est donc en ordre.

[2016-08-23 15:56] #64 closed, assigned to fpagnoux

[2016-08-29 12:58] MattiSG commented on #65
Ce qui n'est pas coché est en attente de confirmation par le responsable ou en attente d'implémentation dans OpenFisca ?
Si c'est le second cas, fermer cette issue et ouvrir des issues plus spécifiques pour l'implémentation des règles manquantes.

[2016-08-29 12:58] MattiSG commented on #66
Ce qui n'est pas coché est en attente de confirmation par le responsable ou en attente d'implémentation dans OpenFisca ?
Si c'est le second cas, fermer cette issue et ouvrir des issues plus spécifiques pour l'implémentation des règles manquantes.

[2016-08-29 12:59] MattiSG commented on #56
L'issue correspondante dans https://github.com/sgmap/mes-aides-ui/issues/230 a été fermée par @fpagnoux. Pourquoi ? Doublon ou corrigé ?

[2016-08-29 15:45] fpagnoux commented on #63
Même interactions que les bourses de lycée, i.e. aucune. Voir #64.

[2016-08-29 15:45] #63 closed, assigned to fpagnoux

[2016-08-29 17:04] fpagnoux commented on #65
Il nous reste l'interaction ASI/AAH

[2016-08-29 17:13] fpagnoux commented on #65
http://www.legislation.cnav.fr/Pages/texte.aspx?Nom=LE_MIN_19031982

[2016-09-09 21:32] #66 closed, assigned to fpagnoux

[2016-09-09 21:32] #65 closed, assigned to fpagnoux

[2016-10-11 14:52] MattiSG commented on #60
Doublon de https://github.com/openfisca/openfisca-france/issues/564.

[2016-10-11 14:52] #60 closed, assigned to nobody

[2016-10-11 15:23] MattiSG opened #67 "Supprimer les conditions spécifiques TNS"
Pour le RSA et la prime d'activité :
- [x] Supprimer la condition de n'avoir aucun salarié pour les TNS.
- [x] Supprimer les plafonds de CA spécifiques TNS.

Prise d'effet au 01/01/2017.

[2016-10-11 15:26] MattiSG opened #68 "Ne plus prendre la moyenne des revenus non professionnels et exceptionnels"
La base de ressources du RSA reste la même, mais le mode de calcul pour les revenus non professionnels ainsi que des revenus exceptionnels (primes, 13ème mois…) passe à un mode avec un montant intermédiaire (sur le modèle de la « PPA fictive ») pour chaque mois, le montant final étant la moyenne des trois montants intermédiaires.

[2016-10-11 15:34] MattiSG opened #69 "Prioriser l'AAH par rapport à l'ASS"
Au 01/01/2017, l'activation du droit à l'AAH désactivera l'ASS.

En réalité, il y a un droit d'option entre ASS et AAH. L'AAH, qui est plus avantageuse financièrement (mais n'ouvre pas de droits à la retraite), est privilégiée.

Le droit à l'AAH est rétroactif sur la période de traitement (6 à 10 mois). En conséquence, si le bénéficiaire touche l'ASS pendant la période de traitement, il touchera à

[2016-10-11 15:38] MattiSG opened #70 "Prioriser l'AAH par rapport à l'ASPA"
Avec le PLF 2017, la demande d'ASPA n'est plus une obligation pour avoir droit à l'AAH, qui est toujours demandée car elle ouvre droit à des majorations (MVA, CPA).

Il n'y a pas de non-cumul légal, mais il est plus avantageux pour le bénéficiaire de demander directement l'AAH, car l'ASPA est récupérable sur succession.

[2016-10-11 15:38] MattiSG commented on #70
À implémenter sous la forme `ASPA = AAH - montant potentiel ASPA` ?

[2016-10-25 09:58] fpagnoux opened #71 "ASS pour les auto-entrepreneurs"
En tant que demandeur d'emploi auto-entrepreneur,
On ne m'indique pas une éligibilité à l'ASS si j'ai ce statut depuis plus de 12 mois

[2016-10-25 09:59] fpagnoux commented on #71
Le cumul n'est possible que pendant 12 mois (avec des conditions différentes si ACCRE ou non).
Au delà de 12 mois, l'ASS est supprimé, visiblement même si la bénéficiaire potentiel n'a aucun chiffre d'affaire.

[2016-11-28 14:10] fpagnoux commented on #70
Je comprends qu'une personne éligible à l'AAH qui atteint l'âge de départ à la retraite pourra continuer à percevoir son AAH plutôt que de basculer sur l'ASPA. Et que ce choix optimal pour elle (compléments, non récupération sur succession).

Tu valides cette interprétation @MattiSG ?

Si oui, il est difficile de traiter ce point sans afficher de montant pour l'AAH.

[2016-11-28 14:14] fpagnoux commented on #70
Tu veux dire `ASPA = montant potentiel ASPA - AAH` ?

[2016-11-28 14:23] MattiSG commented on #70
Oui.

Oui.

Ça semblerait plus logique, oui  🤔  Je n'ai pas d'autre source que ces notes pour être certain.

[2017-01-06 18:23] MattiSG opened #72 "Mettre à jour les plafonds de ressource pour les DOM-TOM"
http://circulaires.legifrance.gouv.fr/pdf/2016/12/cir_41638.pdf (annexes)

[2017-01-09 09:26] fpagnoux commented on #68
Done by https://github.com/openfisca/openfisca-france/pull/646

[2017-01-09 09:26] #68 closed, assigned to nobody

[2017-01-09 09:26] fpagnoux commented on #67
Done by https://github.com/openfisca/openfisca-france/pull/646

[2017-01-09 09:26] #67 closed, assigned to fpagnoux

[2017-01-09 09:30] fpagnoux commented on #70
Cette issue n'est pas pertinente tant qu'on ne calcule pas de montant pour l'AAH. Est-ce que je peux la sortir de la milestone ?

[2017-01-09 09:31] fpagnoux commented on #69
Cette issue n'est pas pertinente tant qu'on ne calcule pas de montant pour l'AAH. Est-ce que je peux la sortir de la milestone ?

[2017-01-09 14:07] MattiSG commented on #70
On calcule déjà, même si on n’affiche pas. Il me semblerait pertinent de ne pas augmenter le coût d’activation de l’AAH.

[2017-03-14 12:53] HelaG opened #73 "Actualiser le barême des bourses du collège ou du lycée"

[2017-03-23 11:02] #73 closed, assigned to nobody

[2017-07-04 09:23] monbocal opened #74 "Eligibilité ACS avec AAH / CAAH / APL"
Simulation de départ : 59561c10e31cc2156687a777
Simulation de test : 595b560d1215294381503e20

Contexte :
La simulation renvoie un droit à l’ACS (200€)
La CPAM n’attribue pas ce droit car les plafonds sont dépassés.

Investigations et problèmes :
- Le plafond n’est pas le même entre la CPAM et le notre.
CPAM : 11776
acs_plafond : 11670,1015625

- Les ressources totales ne sont pas calculées identi

[2017-07-05 11:51] #74 closed, assigned to nobody